<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>TrailBlazer</title>   
    </head>
    
    <p><center><font size="30">Example Trail</font></center></p>
    
  <body>
      <center><img src="images/Google-Maps.jpg" width="800"></center>
  </body>
    
    <form action="/html/tags/html_form_tag_action.cfm" method="post">
    <div>
    <center>
    <textarea name="comments" id="comments" style="font-family:sans-serif;font-size:1.2em;">
    </textarea>
    </center>
    </div>
    <center><input type="submit" value="Submit"></center>
    </form>
    
</html>