<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/mainstyle.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
     
    <title>TrailBlazer</title>   
    </head>
    
  <body> <div class="flex-container">
      
    <div class="flex-item">        
        <p><font size="30">Example Trail</font></p>
        <img src="images/Google-Maps.jpg" width="800">
        <button type="button">Add Marker</button>
    </div>
      
    <br>
    <br>
    <br>
      
    <div class="box">  
        <div class="flex-container2">
            <div class="flex-item">     
                <img src="images/hiking.JPG" width="300">
            </div> 
            <div class = "comment">
                <p>Test comment!</p>
            </div>
        </div>  
    </div>      
      
    <br> 
      
    <div class="box">  
        <div class="flex-container2">
            <div>
                <textarea name="comments" id="comments" style="font-family:sans-serif;font-size:1.2em;"></textarea>
            </div>
            <input type="submit" value="Submit">
            <form action="/action_page.php">
                <input type="file" name="pic" accept="image/*">
                <input type="submit">
            </form>
        </div>  
    </div>     
      
  </div>
      
      
    <script src="https://www.gstatic.com/firebasejs/4.13.0/firebase.js"></script>
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyCrIEYXHjRy5OTVp-92gz0gcqFjUMq4QAA",
        authDomain: "trailblazers-201721.firebaseapp.com",
        databaseURL: "https://trailblazers-201721.firebaseio.com",
        projectId: "trailblazers-201721",
        storageBucket: "trailblazers-201721.appspot.com",
        messagingSenderId: "526533295836"
      };
      firebase.initializeApp(config);
    </script>
    </body>
    
</html>